@charset"utf-8";

@import url('https://fonts.googleapis.com/css2? family = Licorice & display = swap');

:root{
 
    --escrita:'Licorice',cursive;

    --cor1:#68b01a;
    --cor2:#c4e89c;
    --cor3:#98c764;
    --cor4:#4f8019;
    --cor5:#2f5902;

}
*{
    margin: 0px;
    padding: 0px;
}
body{
    
}

header{
   background-image:linear-gradient(to right, var(--cor3),
   var(--cor5));
}
header > a{
padding: 10px;
text-decoration: none;
margin: 20px;
background-color:var(--cor3) ;

;

}
header h2{

    text-align: center;
}
nav{
    background-image:linear-gradient(to right, var(--cor3),
   var(--cor5));
    padding: 10px;
    box-shadow: 0px 6px 6px --cor5;
}
nav >a{
  
    color: white;
    padding: 10px;
    border-radius: 5%;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
    border-radius: 30px;


}
nav a:hover{
    background-color: var(--cor5);
    color: var(--cor1);
    border-radius: 30px;
}

article{
    width: 800px;
    height: 600px;
    background-color: white;
    border: 2px solid black;
    margin: auto;
    border-top: none;
}

div#bolacentral{
   position: relative;
    border: 2px solid black;
    padding: 60px;
    width: 10px;
    margin-top: 50px;
    margin: auto;
    border-radius: 50%;
    left: 0px;
    top: 95px;

}


}
div >a{
    padding: 18px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20%;
    text-decoration: none;
    margin-left: -40px;  
}
h1{
text-align: center;
color: rgb(215, 252, 8);
padding-top: 36px;
font-size: 60px;
font-family: var(--escrita);
}
h2{
   color: var(--cor2); 
}
*/


 article >p#texto
 { font-family: var(--escrita);
color: white;
text-align: center;


}

p{
font-size: 30px;
text-align:center;
border-radius: 50%;
border:0px solid white;
margin:auto
;width: 100px;
height: 100px;
padding: 10px;
position: relative;
top: 10px;

}
button#btn1 {
    position: relative;
    display: inline-block;
    border: 1px solid black;
    border-radius: 20px;
    background-color :lime;
    width: 90px;
    height: 40px;
    color:black;

    

}

   